.card-header{
    background: rgb(16, 0, 194);
    background: linear-gradient(34deg, rgba(16, 0, 194, 1) 50%, rgba(0, 9, 255, 1) 50%);

}

.card-footer{
    background: #eee;
    height: 40px;
}

.text{
    color: #482c9a;
}


h3{
    color: #eee;
}

.btn {
    background: rgb(16, 0, 194);
    background: linear-gradient(34deg, rgba(16, 0, 194, 1) 50%, rgba(0, 9, 255, 1) 50%);
}