{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css\login.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Josefin+Sans&family=Poppins:ital,wght@0,400;0,700;1,300&family=Roboto:ital,wght@0,400;1,500&family=Rubik+Pixels&family=Yanone+Kaffeesatz&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="login">
        <h1 class="text-center">Welcome Back!</h1>
        <hr>
        <form method="post" action="{% url 'accounts:user_login' %}" novalidate>
            {% csrf_token %}
            {{form.as_p}}

            <input class="btn btn-success w-100 rounded-pill " type="submit" value="Login">
            <a href="{% url 'accounts:reset_password' %}" class="mt-2">Have you forgotten your password?</a>

        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>